{%- liquid
  assign current_path = request.path
-%}

<currency-selector class="{{class}} relative mr-2">
  <select id="marketSelector" class="border-none p-3 cursor-pointer">
    <option value="au" selected>Australia / AUD</option>
    <option value="ca" data-url="https://ca.timeresistance.com{{ current_path }}">Canada / CAD</option>
    <option value="us" data-url="https://timeresistance.com{{ current_path }}">United States / USD</option>
    <option value="eu" data-url="https://eu.timeresistance.com{{ current_path }}">
      European Union / EUR
    </option>
    <option value="de" data-url="https://timeresistance.de{{ current_path }}">Germany / EUR</option>
    <option value="global" data-url="https://global.timeresistance.com{{ current_path }}">
      Global / USD
    </option>
    <option value="sg" data-url="https://timeresistance.sg{{ current_path }}">Singapore / SGD</option>
    <option value="uk" data-url="https://timeresistance.co.uk{{ current_path }}">United Kingdom / GBP</option>
  </select>
  {% render 'icon' with 'chevron-small',
    class: 'absolute right-0 top-1/2 -translate-y-1/2 w-[13px] pointer-events-none'
  %}
</currency-selector>
