{%- capture stores -%}
  italy EUR timeresistance.it,
  singapore SGD timeresistance.sg,
  united_kingdom GBP timeresistance.co.uk,
  united_states USD timeresistance.com,
  european_union EUR eu.timeresistance.com,
  germany EUR timeresistance.de,
  australia AUD au.timeresistance.com,
  canada CAD ca.timeresistance.com,
  global USD global.timeresistance.com
{%- endcapture -%}

{%- liquid
  assign stores = stores | strip_newlines | split: ','
  assign current_store = request.host

  assign current_path = request.path
-%}

<currency-selector class="{{class}} relative mr-2">
  <select id="marketSelector" class="border-none p-3 cursor-pointer">
    {%- for store in stores -%}
      {%- liquid
        assign selected = false

        assign store_parts = store | strip | split: ' '
        assign store_country = store_parts[0]
        assign store_currency = store_parts[1]
        assign store_url = store_parts[2]

        assign country_name_locale_key = 'general.countries.' | append: store_country
        assign country_name = country_name_locale_key | t

        if store_url == current_store
          assign selected = true
        endif
      -%}

      <option
        value="{{ store_country }}"
        {% if selected %}
          selected
        {%- else -%}
          data-url="https://{{ store_url }}{{ current_path }}"
        {% endif %}
      >
        {{ country_name }} / {{ store_currency }}
      </option>
    {%- endfor -%}
  </select>

  {% render 'icon',
    icon: 'chevron-small',
    class: 'absolute right-0 top-1/2 -translate-y-1/2 w-[13px] pointer-events-none'
  %}
</currency-selector>
