{%- liquid
  assign redirect_options = shop.metaobjects.geolocation_redirect.values
  assign current_country_iso = localization.country.iso_code
  assign current_url = request.host
  assign current_country_redirect_option = null

  for option in redirect_options
    if option.redirect_url.value contains current_url
      assign current_country_redirect_option = option
      break
    endif
  endfor

  unless current_country_redirect_option
    assign current_country_redirect_option = redirect_options | where: 'is_default', true | first
  endunless

  assign current_path = request.path
  assign root_path = routes.root_url

  assign path = current_path | remove_first: root_path | prepend: '/'
-%}

<currency-selector class="{{class}} relative mr-2">
  <select id="marketSelector" class="border-none p-3 cursor-pointer">
    {%- for redirect_option in redirect_options -%}
      {%- liquid
        assign selected = false

        if redirect_option.redirect_url == current_country_redirect_option.redirect_url
          assign selected = true
        endif
      -%}
      <option
        value="{{ redirect_option.name }}"
        {% if selected %}
          selected
        {%- else -%}
          data-url="{{ redirect_option.redirect_url }}{{ path }}"
        {% endif %}
      >
        {{ redirect_option.name }} / {{ redirect_option.currency }}
      </option>
    {%- endfor -%}
  </select>

  {% render 'icon',
    icon: 'chevron-small',
    class: 'absolute right-0 top-1/2 -translate-y-1/2 w-[13px] pointer-events-none'
  %}
</currency-selector>
