{%- comment -%}
  This snippet renders a product card with images, reviews, title, and price.

  Variables that can be passed to this snippet:
  - prod (object): The product object with properties
  - variant (object): The variant object with properties
  - image_sizes: The sizes attribute for the product images. Defaults to '(max-width: 400px) 40vw, 20vw'.
  - split_variants: A boolean indicating whether to split the variants. Defaults to false.
  - lazy_load {Boolean} - Image should be lazy load (optional, default is true).


  Example:
  {%- render 'product-card',
    image_sizes: '(max-width: 600px) 50vw, 25vw'
  -%}
{%- endcomment -%}

{%- liquid
  assign review_count = review_count | default: prod.metafields.loox.num_reviews
  assign image_sizes = image_sizes | default: '(max-width: 400px) 40vw, 25vw'
  assign image_widths = image_widths | default: '200, 365, 465, 600'

  assign split_variants = split_variants | default: false
-%}

{%- if split_variants -%}
  {% for variant in prod.variants %}
    {%- render 'product-card', variant: variant, split_variants: false -%}
  {% endfor %}
{%- else -%}
  {%- capture images -%}
  {%- if prod.images.size > 1 -%}
    {%- render 'image', 
        image: prod.images[0],
        src_width: 600,
        widths: image_widths,
        class: 'hover:opacity-0 img-fit',
        sizes: image_sizes,
        lazy_load: lazy_load
    -%}
    {%- render 'image', 
      image: prod.images[1],
      src_width: 600,
      widths: image_widths,
      class: 'img-fit -z-10',
      sizes: image_sizes,
      lazy_type: 'dom'
    -%}
  {%- else -%}
    {%- render 'image', 
      image: prod.featured_image,
      src_width: 600,
      widths: image_widths,
      class: 'img-fit',
      sizes: image_sizes,
      lazy_load: lazy_load
  -%}
  {%- endif -%}
{%- endcapture -%}

  <div class="product-card" {{ attributes }}>
    <a href="{{ prod.url }}">
      <div class="media pb-[110%] bg-[#dddbdd] z-0">
        <div class="flex w-full">
          {%- render 'product-badges', prod: prod -%}
          <add-favorite class="flex ml-auto">
            {%- render 'icon' with 'heart' -%}
          </add-favorite>
        </div>
        {{ images }}
      </div>
    </a>

    <div class="mt-4">
      <div class="">
        <a href="{{ prod.url }}">
          <p>{{ prod.title }}</p>
        </a>
      </div>

      {%- render 'price',
        prod: prod,
        current_variant: prod.selected_or_first_available_variant,
        placeholder: false
      -%}
    </div>
  </div>
{%- endif -%}
