{%- if section.settings.enable_section_style -%}
  {%- render 'section-style', section: section -%}
{%- endif -%}

<!-- sections/about-us.liquid -->

{% liquid
  assign categories = 'Team,Products,Timeline,International' | split: ','
%}

<div class="section">
  {%- render 'section-tab-navigator',
    array: categories,
    class: 'border-b border-[#e0c398] pb-1 text-sm top-0 sticky z-10 mb-4',
    blob_class: 'h-[3px] bottom-0 bg-black md:block',
    button_class: 'md:px-4 p-2',
    active_text_class: 'font-bold',
    list_class: 'flex'
  -%}

  <!-- Team -->
  <div
    class="text-center"
    data-tab="team"
  >
    <p
      class="md:my-10 mb-10 font-xl font-bold mx-auto max-w-[800px]"
    >
      {{ section.settings.team_title }}
    </p>

    <div class="grid grid-cols-2 md:grid-cols-5 gap-4">
      {% for block in section.blocks %}
        {%- liquid
          assign class = ''
          if block.settings.full_row
            assign class = 'col-span-2 md:col-span-5 '
          endif
        -%}
        <div class="group {{ class }} mx-auto flex flex-col items-center  w-full max-w-[150px]">
          <div class="media w-full pb-[100%] rounded-full overflow-hidden">
            {% render 'image',
              image: block.settings.image,
              src_width: 300,
              widths: '150,300',
              sizes: '150px',
              class: 'img-fit img-fit--zoom img-fit--group-zoom'
            %}
          </div>
          <p class="font-lg font-bold mt-2">{{ block.settings.name }}</p>
          <p class="text-sm uppercase tracking-wider">{{ block.settings.role }}</p>
        </div>
      {% endfor %}
    </div>
  </div>

  <!-- Products -->

  <div
    class="grid md:grid-cols-[11fr_5fr] gap-6 md:gap-10"
    data-tab="products"
  >
    {%- if section.settings.video != blank -%}
      <div class="">
        <p class="font-lg font-bold">{{ section.settings.video_title }}</p>
        {% render 'video',
          video: section.settings.video,
          wrapper_class: 'w-full h-full',
          aspect_ratio: '16/9',
          controls: true,
          loop: true
        %}
      </div>
    {%- endif -%}

    <div class="">
      <p class="font-lg font-bold">Features</p>
      <div class="product-text">
        <div id="features_div">
          <ul class="list-none">
            <li class="flex items-center">
              <img
                class="pr-2"
                src="https://cdn.shopify.com/s/files/1/0535/4038/9032/files/made_in_italy.svg?v=1683187137"
                alt="Icon"
                width="24"
                height="24"

              >Made in Italy
            </li>
            <li class="flex items-center">
              <img
                class="pr-2"
                src="https://cdn.shopify.com/s/files/1/0535/4038/9032/files/classic_design.svg?v=1683186411"
                alt="Icon"
                width="24"
                height="24"

              >Classic design
            </li>
            <li class="flex items-center">
              <img
                class="pr-2"
                src="https://cdn.shopify.com/s/files/1/0535/4038/9032/files/full_grain.svg?v=1683186410"
                alt="Icon"
                width="24"
                height="24"

              >Full-grain, hand-dyed, vegetable-tanned leather
            </li>
            <li class="flex items-center">
              <img
                class="pr-2"
                src="https://cdn.shopify.com/s/files/1/0535/4038/9032/files/hand_made.svg?v=1683186411"
                alt="Icon"
                width="24"
                height="24"

              >Hand made
            </li>
            <li class="flex items-center">
              <img
                class="pr-2"
                src="https://cdn.shopify.com/s/files/1/0535/4038/9032/files/fashion.svg?v=1683186411"
                alt="Icon"
                width="24"
                height="24"

              >"Slow fashion" mindset
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Timeline -->
  <div
    class=""
    data-tab="timeline"
  >
    {%- render 'image',
      image: section.settings.timeline_image,
      src_width: 1280,
      widths: '320,640,960,1280',
      sizes: '100vw',
      class: 'w-full h-full'
    -%}
  </div>

  <!-- International -->
  <div
    class=""
    data-tab="international"
  >
    <div class="grid md:grid-cols-2 gap-6">
      <div class="">
        <p>We serve customers from over 90 countries.</p>
        <p>Time Resistance partners with carefully selected brand ambassadors.</p>
        <p>
          We exhibit at various trade shows around the world including Liberty Fairs NY (USA), Mipel (Italy),
          Nordic Shoe and Bag Fair (Sweden), and ILM (Germany).<br>
          ILM is a trade fair that takes place in Offenbach am Main, Germany. It is one of the largest and
          most important trade fairs for high-quality leather goods, luggage, bags and accessories.<br>
          Mipel is another trade show that takes place in Milan, Italy. It is an international event that
          showcases leather goods and fashion accessories.<br>
          Nordic Shoe and Bag Fair is a trade show that takes place in Stockholm, Sweden. It is a platform for
          Scandinavian shoe and bag brands to showcase their products.<br>
          Liberty Fairs NY is a trade show that takes place in New York City, USA. It is a contemporary
          fashion trade show that showcases men’s and women’s apparel, footwear, accessories and lifestyle
          brands.
        </p>
        <p>
          Our participation in trade shows allows us to showcase our products to a wider audience and to
          connect with other industry professionals. It also gives us an opportunity to stay up-to-date with
          the latest trends and developments in the industry.
        </p>
        <p>Time Resistance is registered in the EU, the US, China and Australia.</p>
        <div class="flex flex-wrap gap-2">
          <img
            class="image-1"
            src="https://cdn.shopify.com/s/files/1/0535/4038/9032/files/USA_Certificate.jpg?v=1682590950"
            alt="USA Certificate"
            width="auto"
            height="auto"
          >
          <img
            class="image-2"
            src="https://cdn.shopify.com/s/files/1/0535/4038/9032/files/China_Certificate.jpg?v=1682590998"
            alt="China Certificate"
            width="auto"
            height="auto"
          >
          <img
            class="image-3"
            src="https://cdn.shopify.com/s/files/1/0535/4038/9032/files/Lithuania_Certificate.jpg?v=1682591025"
            alt="Lithuania Certificate"
            width="auto"
            height="auto"
          >
        </div>
      </div>
      <div class="">
        <img
          class="image-4"
          src="https://cdn.shopify.com/s/files/1/0535/4038/9032/files/Mipel_trade_show_1.jpg?v=1682591083"
          alt="Mipel Trade Show"
          width="auto"
          height="auto"
        >
        <img
          class="image-5"
          src="https://cdn.shopify.com/s/files/1/0535/4038/9032/files/Mipel_trade_show_2.jpg?v=1682591083"
          alt="Mipel Trade Show"
          width="auto"
          height="auto"
        >
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "About Us",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Team"
    },
    {
      "type": "text",
      "id": "team_title",
      "label": "Team Title"
    },
    {
      "type": "header",
      "content": "Products"
    },
    {
      "type": "text",
      "id": "video_title",
      "label": "Video Title"
    },
    {
      "type": "video",
      "id": "video",
      "label": "Video"
    },
    {
      "type": "header",
      "content": "Timeline"
    },
    {
      "type": "image_picker",
      "id": "timeline_image",
      "label": "Timeline Image"
    },
    {
      "type": "text",
      "id": "timeline_title",
      "label": "Timeline Title"
    },
    {
      "type": "header",
      "content": "International"
    }
  ],
  "blocks": [
    {
      "name": "Team Member",
      "type": "team_member",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "name",
          "label": "Name"
        },
        {
          "type": "text",
          "id": "role",
          "label": "Role"
        },
        {
          "type": "checkbox",
          "id": "full_row",
          "label": "Full row",
          "default": false
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "About Us",
      "settings": {}
    }
  ]
}
{% endschema %}
